<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sidebar">
    <div class="sidebar" id="sidebar">
        <div class="sidebar-inner slimscroll">
            <div id="sidebar-menu" class="sidebar-menu">
                <div class="header-left">
                    <a th:href="@{/index.html}" class="logo">
                        <img th:src="@{/assets/img/logo1.png}" width="130" height="65" alt="">
                        <span class="text-uppercase">POPEYES</span>
                    </a>
                </div>
                <ul class="sidebar-ul">
                    <li class="menu-title">Menu</li>
                    <li class="active">
                        <a th:href="@{/dashboard}"><img th:src="@{/assets/img/sidebar/icon-1.png}" alt="icon"><span>Dashboard</span></a>
                    </li>
                    <li>
                        <a th:href="@{/punch}"><img th:src="@{/assets/img/sidebar/icon-1.png}" alt="icon"><span>Punch</span></a>
                    </li>
                    <li>
                        <a th:href="@{/newhire}"><img th:src="@{/assets/img/sidebar/icon-1.png}" alt="icon"><span>New Hire</span></a>
                    </li>
                    <li>
                        <a th:href="@{/dcstores}"><img th:src="@{/assets/img/sidebar/icon-1.png}" alt="icon"><span>DC Store</span></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>
